.schedules {
    list-style: none;
}

.schedules li {
    clear: both;
    padding-top: 15px;
}

/*form label {*/
    /*display: block;  /!* block float the labels to left column, set a width *!/*/
    /*float: left;*/
    /*width: 150px;*/
    /*padding: 0;*/
    /*margin: 5px 0 0; /!* set top margin same as form input - textarea etc. elements *!/*/
    /*text-align: right;*/
/*}*/

/*form {  /!* set width in form, not fieldset (still takes up more room w/ fieldset width *!/*/
    /*font:100% verdana,arial,sans-serif;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*min-width: 500px;*/
    /*max-width: 600px;*/
    /*width: 560px;*/
/*}*/

/*form fieldset {*/
    /*border-color: #000;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*padding: 10px;        /!* padding in fieldset support spotty in IE *!/*/
    /*margin: 0;*/
/*}*/