
<form ng-submit="updateSchedule()">
<p>Details of schedule <input type="text" ng-model="schedule.name"/></p>
<p>Description <input type="text" ng-model="schedule.description"/></p>

<table width="100%">
    <thead><th>Light</th><th>Wait</th><th>On For</th></thead>
    <tbody>
        <tr ng-repeat="item in schedule.items" ng-include="getTemplate(item)"></tr>
    </tbody>
</table>


<!--
 templates for a table row, display or edit
 These are included in the table above using the ng-include and the function getTemplate
-->
<script type="text/ng-template" id="display">
    <td>{{item.light.name}}</td>
    <td>{{item.wait}}</td>
    <td>{{item.onForSeconds}}</td>
    <td>
        <button ng-click="editItem(item)">Edit</button>
        <button ng-click="deleteItem(item)">Del</button>
    </td>
</script>
<script type="text/ng-template" id="edit">
    <td>
        <select name="lightSelect" ng-model="item.light" ng-options="light.name for light in allLights track by light.id">
        </select>
    </td>
    <td><input type="text" ng-model="item.wait" /></td>
    <td><input type="text" ng-model="item.onForSeconds" /></td>
    <td>
        <button ng-click="saveItem(item)">Save</button>
        <button ng-click="reset()">Cancel</button>
    </td>
</script>

<button ng-click="addItem()">Add</button>
<p><input type="submit" value="Save"/></p>
</form>